# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
*.csproj
*.sln
*.suo
.vs/
UserSettings/



# Python
__pycache__/
*.pyc
venv/
.env
*.egg-info/

# Visual Studio
.vscode/
*.user

# OS
.DS_Store
Thumbs.db

# ml-service: local test recordings and downloaded model - regenerate locally, don't commit (i (Jameal Engelbrecht) removed it topush my 100% confidence recordings as reference for the group)

ml-service/holistic_landmarker.task


